<ion-header class="ion-no-border">
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref='/'></ion-back-button>
        </ion-buttons>

        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-card-header>
            <ion-card-title>Iniciar sesion</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <form #formulario='ngForm' (ngSubmit)='onSubmit(formulario)'>


                <ion-list>
                    <h2>Correo</h2>
                    <ion-item>
                        <ion-input required name='email' [(ngModel)]='usuario.email' type="email" placeholder="Nombre" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
                    </ion-item><br>
                    <h2>Contraseña</h2>
                    <ion-item>
                        <ion-input required name='password' [(ngModel)]='usuario.password' type="password" placeholder="Password"></ion-input>
                    </ion-item>

                    <ion-button [disabled]='formulario.invalid' class="btn" type='submit' color="primary" expand="block">
                        Ingresar
                    </ion-button>
                    <ion-button class="btn" type='button' color="secondary" expand="block" routerLink='/registro'>
                        Registro
                    </ion-button>


                </ion-list>
            </form>

            <ion-list class="redes">
                <ion-button size='large' color="danger" shape='round'>
                    <ion-icon slot="icon-only" name="logo-google"></ion-icon>
                </ion-button>
                <ion-button size='large' shape='round'>
                    <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
                </ion-button>

            </ion-list>
        </ion-card-content>
    </ion-card>



</ion-content>