<ion-app>

    <ion-menu side="start" menuId="first" contentId="main">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>Menu</ion-title>

                <ion-buttons slot="end">
                    <ion-avatar routerLink='/login'>
                        <img *ngIf="logeado" [src]="img" />
                        <img *ngIf="!logeado" src="/assets/user_icon.png" />
                    </ion-avatar>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <ion-list class="ion-padding">

                <ion-menu-toggle *ngFor="let opt of opts | async" autoHide='false'>
                    <ion-item [disabled]='!logeado' [routerLink]='opt.redirecTo'>
                        <ion-icon slot="start" name="{{opt.icon}}"></ion-icon>
                        {{opt.name}}
                    </ion-item>
                </ion-menu-toggle>

            </ion-list>
            <ion-button *ngIf="!logeado" class="padding" color="primary" (click)="hideMenu()" expand='block' routerLink='/login'>
                <ion-icon slot="start" name="person-circle-outline"></ion-icon>
                Ingresar
            </ion-button>
            <ion-button *ngIf="logeado" class="padding" color="danger" (click)="hideMenu()" expand='block' routerLink='/home'>
                <ion-icon slot="start" name="person-circle-outline"></ion-icon>
                Cerrar sesion
            </ion-button>


        </ion-content>
        <ion-footer>
            <ion-toolbar>
                <ion-title>{{nombre}}</ion-title>
            </ion-toolbar>
        </ion-footer>

    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>